@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: var(--background-start-rgb);
  --text-color: var(--foreground-rgb);
}

.container {
    max-width: 800px;
  }